[run]
branch = True
source =
    .
omit =
    */migrations/*
    */management/*
    */tests/*
    */tests.py
    manage.py
    config/*
    config.py
    config-*.py
    */apps.py
    */admin.py
    */urls.py
    */wsgi.py
    */asgi.py
    */_remote_module_non_scriptable*
    */site-packages/*

[report]
show_missing = True
skip_covered = True
