[run]
branch = True
source =
    .
omit =
    */migrations/*
    */tests/*
    */tests.py
    manage.py
    config/*
    */apps.py
    */admin.py
    */urls.py
    */wsgi.py
    */asgi.py

[report]
show_missing = True
skip_covered = True
